<div class="max-w-md mx-auto p-4 bg-card rounded-lg shadow-md">
  @if(editTaskId){
  <h2 class="text-lg font-semibold mb-4">Edit Task</h2>
  }@else {
  <h2 class="text-lg font-semibold mb-4">New Task</h2>
  }

  <form class="grid grid-cols-2 gap-4" [formGroup]="taskForm">
    <div class="mb-4">
      <label
        class="block text-sm font-medium text-muted-foreground"
        for="assignedTo"
        >* Assigned To</label
      >
      <select
        id="assignedTo"
        class="mt-1 block w-full border border-border rounded-md p-2"
        formControlName="user"
      >
        <option>User 1</option>
        <option>User 2</option>
        <option>User 3</option>
        <option>User 4</option>
      </select>
    </div>
    <div class="mb-4">
      <label
        class="block text-sm font-medium text-muted-foreground"
        for="status"
        >* Status</label
      >
      <select
        id="status"
        class="mt-1 block w-full border border-border rounded-md p-2"
        formControlName="status"
      >
        <option>Not Started</option>
        <option>In Progress</option>
        <option>Completed</option>
      </select>
    </div>
    <div class="mb-4">
      <label
        class="block text-sm font-medium text-muted-foreground"
        for="dueDate"
        >Due Date</label
      >
      <input
        type="date"
        id="dueDate"
        class="mt-1 block w-full border border-border rounded-md p-2"
        formControlName="dueDate"
      />
    </div>
    <div class="mb-4">
      <label
        class="block text-sm font-medium text-muted-foreground"
        for="priority"
        >* Priority</label
      >
      <select
        id="priority"
        class="mt-1 block w-full border border-border rounded-md p-2"
        formControlName="priority"
      >
        <option>Normal</option>
        <option>High</option>
        <option>Low</option>
      </select>
    </div>
    <div class="col-span-2 mb-4">
      <label
        class="block text-sm font-medium text-muted-foreground"
        for="description"
        >Description</label
      >
      <textarea
        id="description"
        rows="4"
        class="mt-1 block w-full border border-border rounded-md p-2"
        formControlName="description"
      ></textarea>
    </div>
    <div class="col-span-2 flex justify-end space-x-2">
      @if(editTaskId){
      <button
        type="button"
        class="bg-yellow-500 text-white px-4 py-1 rounded hover:bg-yellow-300"
        (click)="cancel()"
      >
        Cancel
      </button>
      }@else {
      <button
        type="button"
        class="bg-yellow-500 text-white px-4 py-1 rounded hover:bg-yellow-300"
        (click)="cancel()"
      >
        Cancel
      </button>
      }
      <div>
        @if(editTaskId){
        <button
          type="submit"
          class="bg-green-500 text-white px-4 py-1 rounded hover:bg-green-300"
          (click)="updateTask()"
        >
          Edit and Save</button
        >} @else{
        <button
          type="submit"
          class="bg-green-500 text-white px-4 py-1 rounded hover:bg-green-300"
          (click)="addTask()"
        >
          Save
        </button>

        }
      </div>
    </div>
  </form>
</div>
